html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding,100px);

  
 
}

body {
  align-content: center;
  max-width: 1440px;
  margin: 0;
  line-height: normal;
  font-family: Inter, sans-serif;

  
}




