---
import '../styles/global.css'
import '../styles/About.css'
---
<script src="../scripts/menu.js"></script>

<section id="about" class="about">

    <div class="text">
        <div class="separator">
        </div>
        <b class="about-me-title">ABOUT ME</b>
        <div class="separator">
        </div>
    </div>

    <div class="container-card">

        <div class="frame-wrapper">
            <div class="frame-group">
                <div class="title-parent">
                        <b class="number">1</b>
                        <div class="title-child">
                            <p class="me">About </p>
                            <p class="me">Me</p>
                        </div>
                </div>
                <div class="description">I love creating visually stunning and user-friendly digital experiences, blending creativity with problem-solving to craft engaging interfaces. Let's collaborate and bring your ideas to life!</div>
            </div>
        </div>

        <div class="frame-wrapper">
            <div class="frame-group">
                <div class="title-parent">
                    <b class="number">5</b>
                    <div class="title-child">
                        <p class="me">Years of</p>
                        <p class="me">Experience</p>
                    </div>
                </div>
                <div class="description">
                    With five years of dedicated experience in the industry, I have honed my skills to create intuitive and visually stunning interfaces that resonate with users.
                </div>
            </div>
        </div>

        <div class="frame-wrapper">
            <div class="frame-group">
                <div class="title-parent">
                    <b class="number">120+</b>
                    <div class="title-child">
                        <p class="me">Satisfied</p>
                        <p class="me">Clients</p>
                    </div>
                </div>
                <div class="description">
                    Their trust and support have allowed me to explore diverse projects, from website and mobile design to website development, each one contributing to my growth as a professional.
                </div>
            </div>
        </div>

        <div class="frame-wrapper">
            <div class="frame-group">
                <div class="title-parent">
                    <b class="number">4</b>
                    <div class="title-child">
                        <p class="me">Domains of </p>
                        <p class="me">Expertise</p>
                    </div>
                </div>
                <div class="description">I am a proficient expert in four key domains: Figma for UI/UX design, React and Framer for building interactive website, and a mastery of HTML, CSS, and JavaScript to ensure a solid foundation in web dev.
                </div>
            </div>
        </div>
    </div>
</section>
