---
import '../styles/global.css'
import '../styles/Hero.css'
---

  	
<section id="home" class="hero">
	<div class="container px-6">
		

		<div class="title">
			<div class="caption-title">
				<b class="allan-febrian-diavanda">Allan Febrian Diavanda</b>
				<div class="a-uiux-designer">a UI/UX designer and Front end developer based in Surabaya, Indonesia</div>
			</div>
			<div>
				
			</div>
			<form action="https://www.upwork.com/services/product/design-a-beautiful-screens-clean-and-modern-ui-kit-app-design-1587361639078383616?ref=project_share&tier=0" method="get" target="_blank">
				<button class="button">Let's Collaborate</button>
			</form>
		</div>

		<div class="splinetool">
			<script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.440/build/spline-viewer.js">
			</script>
			<spline-viewer url="https://prod.spline.design/utDpVe72JYWAXLaE/scene.splinecode">
		</div>
		</spline-viewer>

	</div>
</section>
  	
  	
