---
import '../styles/global.css'
import '../styles/NavbarStyle.css'
---
<script src="../scripts/menu.js"></script>

<body>
  	<nav class="navbar">
		<div class="logo">
			<a href="#" class="logo1">
					<img class="vector-icon" alt="Logo" src="Desktop/Logo1.svg">
			</a>

			<div class="hamburger">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
		</div>

		<div class="social-media">
				
			<a href="https://twitter.com/uidiavanda" target="_blank">
				<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
					<path d="M8.78461 2H1.78461L10.0446 13.014L2.23461 22H4.88461L11.2726 14.651L16.7846 22H23.7846L15.1766 10.522L22.5846 2H19.9346L13.9486 8.886L8.78461 2ZM17.7846 20L5.78461 4H7.78461L19.7846 20H17.7846Z" fill="#3C3C43" fill-opacity="0.6"/>
				</svg>
				
				<!-- <img class="twitter-svg-icon" alt="Twitter" src="Desktop/Twitter.svg"> -->
			</a>
			
			
			<a href="https://www.linkedin.com/in/allan-febrian-diavanda/" target="_blank">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M3.95122 1C3.16851 1 2.41785 1.31093 1.86439 1.86439C1.31093 2.41785 1 3.16851 1 3.95122C1 4.73393 1.31093 5.48459 1.86439 6.03805C2.41785 6.59151 3.16851 6.90244 3.95122 6.90244C4.73393 6.90244 5.48459 6.59151 6.03805 6.03805C6.59151 5.48459 6.90244 4.73393 6.90244 3.95122C6.90244 3.16851 6.59151 2.41785 6.03805 1.86439C5.48459 1.31093 4.73393 1 3.95122 1ZM2.60976 3.95122C2.60976 3.59544 2.75109 3.25423 3.00266 3.00266C3.25423 2.75109 3.59544 2.60976 3.95122 2.60976C4.307 2.60976 4.6482 2.75109 4.89978 3.00266C5.15135 3.25423 5.29268 3.59544 5.29268 3.95122C5.29268 4.307 5.15135 4.6482 4.89978 4.89978C4.6482 5.15135 4.307 5.29268 3.95122 5.29268C3.59544 5.29268 3.25423 5.15135 3.00266 4.89978C2.75109 4.6482 2.60976 4.307 2.60976 3.95122ZM1 8.2439C1 8.03044 1.0848 7.82571 1.23574 7.67477C1.38669 7.52382 1.59141 7.43902 1.80488 7.43902H6.09756C6.31103 7.43902 6.51575 7.52382 6.6667 7.67477C6.81764 7.82571 6.90244 8.03044 6.90244 8.2439V22.1951C6.90244 22.4086 6.81764 22.6133 6.6667 22.7643C6.51575 22.9152 6.31103 23 6.09756 23H1.80488C1.59141 23 1.38669 22.9152 1.23574 22.7643C1.0848 22.6133 1 22.4086 1 22.1951V8.2439ZM2.60976 9.04878V21.3902H5.29268V9.04878H2.60976ZM8.5122 8.2439C8.5122 8.03044 8.597 7.82571 8.74794 7.67477C8.89888 7.52382 9.10361 7.43902 9.31707 7.43902H13.6098C13.8232 7.43902 14.0279 7.52382 14.1789 7.67477C14.3298 7.82571 14.4146 8.03044 14.4146 8.2439V8.70966L14.8815 8.50898C15.6864 8.165 16.5403 7.94953 17.412 7.87044C20.39 7.6 23 9.93951 23 12.9444V22.1951C23 22.4086 22.9152 22.6133 22.7643 22.7643C22.6133 22.9152 22.4086 23 22.1951 23H17.9024C17.689 23 17.4842 22.9152 17.3333 22.7643C17.1824 22.6133 17.0976 22.4086 17.0976 22.1951V14.6829C17.0976 14.3271 16.9562 13.9859 16.7047 13.7344C16.4531 13.4828 16.1119 13.3415 15.7561 13.3415C15.4003 13.3415 15.0591 13.4828 14.8075 13.7344C14.556 13.9859 14.4146 14.3271 14.4146 14.6829V22.1951C14.4146 22.4086 14.3298 22.6133 14.1789 22.7643C14.0279 22.9152 13.8232 23 13.6098 23H9.31707C9.10361 23 8.89888 22.9152 8.74794 22.7643C8.597 22.6133 8.5122 22.4086 8.5122 22.1951V8.2439ZM10.122 9.04878V21.3902H12.8049V14.6829C12.8049 13.9002 13.1158 13.1496 13.6693 12.5961C14.2227 12.0426 14.9734 11.7317 15.7561 11.7317C16.5388 11.7317 17.2895 12.0426 17.8429 12.5961C18.3964 13.1496 18.7073 13.9002 18.7073 14.6829V21.3902H21.3902V12.9444C21.3902 10.9011 19.6077 9.28702 17.559 9.47376C16.8552 9.53779 16.1658 9.7116 15.5157 9.98888L13.9274 10.6703C13.8049 10.723 13.6713 10.7443 13.5384 10.7325C13.4056 10.7207 13.2779 10.6761 13.1666 10.6027C13.0553 10.5292 12.9639 10.4293 12.9008 10.3119C12.8377 10.1945 12.8047 10.0632 12.8049 9.92985V9.04878H10.122Z" fill="#3C3C43" fill-opacity="0.6"/>
				</svg>
					
				<!-- <img class="linkedin-svg-icon" alt="LinkedIn" src="Desktop/LinkedIn.svg"> -->
			</a>
			
			<a href="https://dribbble.com/diavanda" target="_blank">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_487_3108)">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M0 12C0 5.3625 5.3625 0 12 0C18.6375 0 24 5.3625 24 12C24 18.6375 18.6375 24 12 24H11.025V23.9625C4.875 23.475 0 18.3 0 12ZM12.3 22.05C17.7 21.9 22.05 17.4375 22.05 12C22.05 6.45 17.55 1.95 12 1.95C6.45 1.95 1.95 6.45 1.95 12C1.95 17.55 6.45 22.05 12 22.05H12.3Z" fill="#3C3C4E" fill-opacity="0.6"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M7.12502 3.2248C6.97502 3.1873 6.86252 3.1498 6.71252 3.0748L7.35002 1.2373C7.42502 1.2748 7.50002 1.2748 7.65002 1.3123C7.87502 1.3873 8.13752 1.4623 8.28752 1.5373C8.32502 1.5373 8.36252 1.5748 8.43752 1.5748C8.70002 1.6873 9.00002 1.7998 9.26252 1.9123L9.30002 1.9498C9.41252 2.0248 9.60002 2.0998 9.75002 2.1748C9.82502 2.2123 9.90002 2.2498 9.97502 2.2873H10.0125H10.05C10.0875 2.3248 10.2 2.3623 10.3125 2.4373H10.35C10.35 2.4373 10.3875 2.4373 10.3875 2.4748C10.3875 2.4748 10.425 2.4748 10.425 2.5123C10.425 2.5123 10.425 2.5123 10.4625 2.5123C10.4625 2.5123 10.4625 2.5123 10.5 2.5123C10.5 2.5123 10.5375 2.5123 10.5375 2.5498C10.6125 2.5873 10.725 2.6623 10.8 2.6998C10.9125 2.7748 11.0625 2.8498 11.175 2.9248C11.2875 2.9998 11.4375 3.1123 11.55 3.1498L11.5875 3.1873C11.6625 3.2248 11.7375 3.2623 11.775 3.2998C11.85 3.3373 11.925 3.4123 12 3.4498C12.0375 3.4873 12.075 3.4873 12.075 3.5248C12.1125 3.5623 12.15 3.5623 12.1875 3.5998C12.225 3.6373 12.225 3.6373 12.2625 3.6373C12.2625 3.6373 12.2625 3.6373 12.3 3.6373H12.3375H12.375C13.4625 4.4623 14.4 5.3998 15.225 6.4873C16.125 7.6873 16.8375 8.9998 17.325 10.4248C18.7875 14.5498 18.375 19.2748 16.05 23.0248L14.4 22.0123C16.3875 18.7873 16.7625 14.6623 15.4875 11.0623C15.075 9.8623 14.4375 8.6998 13.65 7.6873C12.9375 6.7498 12.1125 5.9248 11.175 5.2123C11.1375 5.1748 11.0625 5.1373 11.025 5.0998C10.9875 5.0623 10.95 5.0248 10.9125 5.0248C10.875 4.9873 10.875 4.9873 10.8375 4.9498C10.7625 4.9123 10.725 4.8373 10.65 4.7998C10.6125 4.7623 10.575 4.7623 10.575 4.7623H10.5375V4.8748C10.5 4.8373 10.425 4.7998 10.3875 4.7998C10.3125 4.7248 10.2375 4.6873 10.1625 4.6498L10.125 4.6123L10.0875 4.5748C10.0875 4.5748 10.05 4.5748 10.0125 4.5373C9.97502 4.4998 9.90002 4.4623 9.82502 4.4248C9.75002 4.3873 9.63752 4.3123 9.60002 4.2748C9.56252 4.2748 9.52502 4.2373 9.52502 4.2373L9.48752 4.1998C9.45002 4.1998 9.45002 4.1623 9.41252 4.1623C9.41252 4.1623 9.37502 4.1248 9.33752 4.1248C9.30002 4.0873 9.26252 4.0873 9.18752 4.0498C9.11252 4.0123 9.03752 3.9748 8.96252 3.9373C8.81252 3.8623 8.66252 3.7873 8.51252 3.7498L8.47502 3.7123C8.28752 3.6373 8.06252 3.5623 7.83752 3.4498C7.72502 3.4123 7.68752 3.3748 7.61252 3.3748C7.46252 3.2998 7.31252 3.2623 7.12502 3.2248Z" fill="#3C3C4E" fill-opacity="0.6"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 7.8373C14.1751 7.3123 16.9126 5.6623 18.7501 3.2998L20.2876 4.4998C18.1125 7.2373 15 9.1498 11.5875 9.7498C9.90005 10.0498 8.13755 10.0498 6.45005 9.7498C4.76255 9.4498 3.11255 8.8498 1.61255 7.9498L2.62505 6.2998C3.90005 7.0498 5.32505 7.6123 6.78755 7.8748C8.25005 8.0998 9.75005 8.0998 11.25 7.8373Z" fill="#3C3C4E" fill-opacity="0.6"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M6.03748 21.8621C7.68748 13.3871 16.35 8.69962 23.4 10.6121L22.875 12.4871C16.875 10.8371 9.37498 14.8871 7.91248 22.2371L6.03748 21.8621Z" fill="#3C3C4E" fill-opacity="0.6"/>
					</g>
					<defs>
					<clipPath id="clip0_487_3108">
					<rect width="24" height="24" fill="white"/>
					</clipPath>
					</defs>
				</svg>
			</a>
			
			<a href="https://www.figma.com/@diavanda" target="_blank">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 25 24" fill="none">
					<path d="M16.6274 8.981H12.0394V0H16.6274C19.1034 0 21.1174 2.014 21.1174 4.49C21.1174 6.966 19.1034 8.981 16.6274 8.981ZM13.5104 7.51H16.6274C18.2924 7.51 19.6464 6.155 19.6464 4.491C19.6464 2.827 18.2914 1.472 16.6274 1.472H13.5104V7.51ZM13.5104 8.981H8.92337C6.44737 8.981 4.43337 6.967 4.43337 4.491C4.43337 2.015 6.44737 0 8.92337 0H13.5114V8.981H13.5104ZM8.92337 1.471C7.25837 1.471 5.90437 2.826 5.90437 4.49C5.90437 6.154 7.25837 7.51 8.92337 7.51H12.0404V1.471H8.92337ZM13.5104 16.49H8.92337C6.44737 16.49 4.43337 14.476 4.43337 12C4.43337 9.524 6.44737 7.51 8.92337 7.51H13.5114V16.49H13.5104ZM8.92337 8.981C7.25837 8.981 5.90437 10.336 5.90437 12C5.90437 13.664 7.25937 15.019 8.92337 15.019H12.0404V8.981H8.92337ZM8.94737 24C6.45837 24 4.43237 21.986 4.43237 19.51C4.43237 17.034 6.44637 15.02 8.92237 15.02H13.5104V19.461C13.5104 21.964 11.4634 24 8.94737 24ZM8.92337 16.49C8.12301 16.4911 7.35573 16.8095 6.78979 17.3754C6.22384 17.9414 5.90543 18.7086 5.90437 19.509C5.90437 21.174 7.26937 22.528 8.94837 22.528C10.6534 22.528 12.0414 21.152 12.0414 19.46V16.49H8.92337ZM16.6274 16.49H16.5294C14.0534 16.49 12.0394 14.476 12.0394 12C12.0394 9.524 14.0534 7.51 16.5294 7.51H16.6274C19.1034 7.51 21.1174 9.524 21.1174 12C21.1174 14.476 19.1034 16.49 16.6274 16.49ZM16.5304 8.981C14.8654 8.981 13.5114 10.336 13.5114 12C13.5114 13.664 14.8664 15.019 16.5304 15.019H16.6284C18.2934 15.019 19.6474 13.664 19.6474 12C19.6474 10.336 18.2914 8.981 16.6274 8.981H16.5304Z" fill="#3C3C43" fill-opacity="0.6"/>
				</svg>
				
				<!-- <img class="figma-svg-icon" alt="Figma" src="Desktop/Figma.svg"> -->
			</a>
		</div>

		<ul class="links">
			<li class="nav-menu">
				<a href="#home" class="nav-link">home</a>
			</li>
			<li class="nav-menu">
				<a href="#works" class="nav-link">works</a>
			</li>
			<li class="nav-menu">
				<a href="#about" class="nav-link">about</a>
			</li>
			<li class="nav-menu">
				<a href="#contact" class="nav-link">contact</a>
			</li>
		</ul>
	</nav>

		
	<script>
		const hamburger = document.querySelector(".hamburger");
		const links = document.querySelector(".links");
		const socialMedia = document.querySelector(".social-media");


		hamburger.addEventListener("click", () => {
			hamburger.classList.toggle("active");
			links.classList.toggle("active");
			socialMedia.classList.toggle("active");
			
		})

		document.querySelectorAll(".nav-link").forEach(n => n.addEventListener("click", () => {
			hamburger.classList.remove("active");links.classList.remove("active");
		}))

	</script>


</body>
</html>
