---
import '../styles/global.css'
import '../styles/Testimonials.css'
---
<script src="../scripts/menu.js"></script>

<div id="about" class="text testi">
        <div class="separator">
        </div>

        <b class="testimonials-title">WHAT OUR CLIENTS SAY</b>
        
        <div class="separator">
        </div>
</div>
  	
<section id="about" class="testimonials">


        <div class="testimonials-card-container">

                <div class="testimonials-card">
                        <div class="card-wrapper">
                                <div class="name-card-1">
                                        <b class="client-name">Danny Bunyan</b>
                                        <div class="work-at">Founder of Beehave</div>
                                </div>

                                <div class="testimonial-content">Experienced, incredibly personal, great communications, and great work. If you want quality work with a personal touch, they're the perfect choice.</div>
                        </div>
                </div>

                <div class="testimonials-card">
                        <div class="card-wrapper">
                                <div class="name-card-1">
                                        <b class="client-name">Stefano Adamo</b>
                                        <div class="work-at">Founder of Adamo AI</div>
                                </div>

                                <div class="testimonial-content">Bro I can’t stop looking at it, it’s so beautiful. Every time I look at it, I'm completely captivated by its exquisite beauty, a visual masterpiece that never ceases to amaze me.
                                </div>
                        </div>
                </div>

                <div class="testimonials-card">
                        <div class="card-wrapper">
                                <div class="name-card-1">
                                        <b class="client-name">Riana Marinka</b>
                                        <div class="work-at">Small Business Owner</div>
                                </div>
                                
                                <div class="testimonial-content">Working with Diavanda was a game-changer for our project. Every detail was thoughtfully considered, resulting in a user experience that our customers absolutely love.
                                </div>
                        </div>
                </div>
        </div>
</section>

  	
  	